.affair {
    display: flex;
    justify-content: space-between;
    width: 250px;
}


.priority {
    padding-left: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.buttons {
    margin-left: 30px;
}