.affair {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.priority {
    padding-left: 15px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.buttons{
    margin-left: 30px;
}